/* style.css */

@charset "utf-8";

html[lang="es"] .en { display: none!important; } 
html[lang="en"] .es { display: none!important; }

:root {
	--fontColorblanco: #f0f0f0;
	--bgColorblanco: #f0f0f0;
	--fontColorNegro: #4d4d4d;
}

#loading {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	background-color: var(--bgColorblanco);
	z-index: 1;
	flex-flow: column wrap;
}

#loading-image {
	z-index: 100;
}

.freeCookieToast{
	font-family: "Space Mono", Arial, serif;
	font-size: calc(8px + 4 * ((100vh - 200px) / 1100)) !important;
	font-weight: 100 !important;	
	color: var(--fontColorblanco) !important;
	opacity: 1;	
	background-color: transparent !important;
	border: 0 !important;
	border-color: transparent !important;
	text-align: center;
	width: auto !important;
	height: auto !important;
	justify-content: center !important;
	align-self: center !important;
	left: 50%;
	position: fixed;
	transform: translate(-50%, 0px);
	margin-top: 2vw;
	-webkit-transition: all 3s !important;
    transition:all 3s !important;
}

html, body {
	overflow: hidden !important;
}

html{
	min-height: -webkit-fill-available;
}

body {
	-webkit-text-size-adjust: none;
	min-height: -webkit-fill-available;
	width: 100% ;
	height: 100%;
}

.video-overlay{
	position: absolute !important;
	object-fit: cover !important;
	top: 0px !important;
	opacity: 1;
	z-index: 0;
}

.video-overlay{
	opacity: 1;
	z-index: 0;
}

.container-Page1, .container-Page2 {
	font-family: "Space Mono", Arial, serif;
	background-color: rgba(255, 144, 0, 0.9) !important;
	position: absolute;
	z-index: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0;
	width: 100% !important;
	height: 100% !important;
}

.container-Page1 {
	color: var(--fontColorblanco) !important;
}

.container-Page2 {
	color: var(--fontColorNegrp) !important;
	overflow: auto !important;
}


.controllerPage1, .controllerPage2{
	display: flex !important;
	flex: wrap !important;
	align-items: center !important;
	justify-content: center !important;
}

.controllerPage1{
	color: var(--fontColorblanco) !important;
	height: 100% !important;
	width: 100% !important;
}

.controllerPage2{
	min-height: 100vh;
	width: auto !important;
	height: auto !important;
}

.marg{
	margin-left: 1vh !important;
	margin-right: 1vh !important;	
	margin-top: 1vh !important;
	margin-bottom: 1vh !important;
}

.profile-thumb {
	background-size: cover !important;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: calc(100px + 40 * ((100vh - 100px) / 1100));
	width: calc(100px + 40 * ((100vh - 100px) / 1100));
	margin-top: 1vh;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}


.nombre {
	font-family: "Kaushan Script", cursive;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.roles {
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.textNombre{
	/*font-size: calc(min font-size + font range * (100vw - min screen size)/ screen range);*/
	font-size: calc(32px + 4 * ((100vw - 100px) / 1100));
}

.textRoles{
	font-size: calc(12px + 2 * ((100vw - 100px) / 1100));
}

.textVersion{
	font-size: calc(8px + 4 * ((100vh - 200px) / 1100)) !important;
	color:var(--blanco) !important;
}

.textBtnAboutMe{
	font-size: calc(10px + 4 * ((100vh - 200px) / 1100)) !important;
	color:var(--blanco) !important;
}

.paddPage2{
	padding-left: 10vw !important;
	padding-right: 10vw !important;	
	padding-top: 1vh !important;
	padding-bottom: 1vh !important;
	align-self: center !important;
	background-color: rgba(240,240,240,1) !important;
}

.txtAboutMe {
	font-size: calc(11px + 6 * ((100vh - 200px) / 1100)) !important;
	text-align: center;
	font-weight: 500;
}

.txtMyService {
	font-size: calc(11px + 6 * ((100vh - 200px) / 1100)) !important;
	text-align: center;
	font-weight: 500;
}

.textPage2{
	font-size: calc(10px + 4 * ((100vh - 200px) / 1100)) !important;
}

.textBtnGitContact{
	font-size: calc(10px + 4 * ((100vh - 200px) / 1100)) !important;
}

.textBtnBack{
	font-size: calc(8px + 4 * ((100vh - 200px) / 1100)) !important;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-justif {
	text-align: justify;
}

.btn {
	text-align: center;
	cursor: pointer;
	background-color: transparent;
	border-color: transparent;
	z-index: 0;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: calc(10px + 2 * ((100vw - 100px) / 1100));
	border:none;
	height: 0.5vh !important;
}

.btn:focus, .btn:hover{
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	border-color: transparent !important;
}

@media (max-width: 750px) {
}

@media (min-width :751px) {
}

@media (min-width :993px) {
}
